// $bg-blue: blue;
// $text-white: white;
.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  .header {
    position: fixed;
    height: 100%;
    // height: 100vh;
    width: 24%;
    background-color: lightblue;
    //#22BBEA
    border-radius: 0 25px 25px 0;
    margin: 0;
    overflow: auto;
    .logoPN {
      width: 90%;
      margin: 5% 0;
      img {
        width: 100%;
        padding: 25px 15px;
      }
    }

    .navComponent {
      width: 70%;
      margin: 20% auto;
      font-size: 16px;
      border-spacing: 20px;

      p {
        display: flex;
        gap: 5%;
        align-items: center;
        justify-content: left;
        line-height: 50px;
        border-radius: 25px;
        padding: 5px 50px;
      }

      p:hover {
        background-color: blue;
        color: white;
        cursor: pointer;
      }

      .icon {
        font-size: 25px;
      }
    }

    .logout {
      display: flex;
      justify-content: center;
      font-size: 16px;
      width: 70%;
      text-transform: uppercase;
      cursor: pointer;
      margin: 15% 0;
      p {
        display: flex;
        gap: 5%;
        align-items: center;
        justify-content: left;
        line-height: 50px;
        border-radius: 25px;
        padding: 5px 50px;
      }
      .icon {
        font-size: 25px;
      }
    }
  }

  .content {
    position: absolute;
    width: 74%;
    right: 0;
    .footerTop {
      // height: 220px;
      padding: 2% 0;
      display: flex;
      justify-content: center;
      background-color: rgb(252, 236, 207);

      .footerTopLeft {
        h3 {
          font-size: 20px;
          padding: 10px;
        }
      }

      .footerTopRight {
        h3 {
          font-size: 20px;
          padding: 10px;
        }

        p {
          display: grid;
          grid-template-columns: 10% 50% 40%;
          line-height: 25px;
          padding: 5px;
        }

        img {
          height: 25px;
          width: 25px;
        }

        .iconSocial {
          img {
            height: 40px;
            width: 40px;
            padding: 0 10px;
          }

          margin-top: 8%;
        }

        padding: 0 5%;
      }

      .footerTopLogo {
        img {
          height: 150px;
          width: 150px;
          padding: 15% 0 0 0;
        }
      }
    }

    .footerBot {
      background-color: orange;
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 2px 0;
      font-style: italic;

      img {
        height: 20px;
        width: 30px;
      }
    }

    .slider {
      img {
        width: 100%;
        height: 30rem;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 25px;
      }

      margin-bottom: 2%;
    }

    .search {
      padding: 0 5%;
      margin: 2% 0 5% 0;

      img {
        width: 25px;
        height: 25px;
        padding: 20px 15px 0 15px;
      }

      input {
        width: 90%;
        height: 60px;
        border: none;
        outline: none;
        font-size: medium;
      }

      p {
        border-radius: 5px;
        display: grid;
        grid-template-columns: 5% 55% 20% 20%;
        box-shadow: 5px 5px 15px lightgrey;

        select {
          width: 50%;
          height: 60%;
          border: none;
          border-left: 1px solid black;
          outline: none;
          margin: 12px 0 10px 0;
          padding: 0 15px;
        }

        button {
          width: 100px;
          height: 40px;
          border-radius: 25px;
          border: none;
          background-color: orange;
          font-weight: bold;
          color: white;
          margin: 12px 0 5px 75px;
        }

        button:hover {
          background-color: blue;
        }
      }
    }

    h2 {
      font-size: 32px;
      text-shadow: 2px 2px 5px orange;
      font-weight: 500;
      padding: 0 0 5% 0;
      text-transform: uppercase;
    }

    .partners {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .partner {
        
        img {
          // padding: 2% 2%;
          height: 7rem;
          width: auto;
          border: 30px solid white;
        }
      }
    }

    .listImg {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5%;
      margin: 5% 0 0.5% 0;

      img {
        height: 17rem;
        width: 17.2rem;
        object-fit: cover;
        object-position: 50% 50%;
        // border: 2px solid white;
      }
    }
    #app {
      height: 100%;
    }

    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 90%;
      height: 100%;
      margin-bottom: 5%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      border-right: solid 1px grey;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: space-evenly;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      height: 20rem;
    }

    .swiper-slide img {
      display: block;
      width: 50%;
      height: 100%;
      object-fit: cover;
    }
    .employer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        img {
          height: auto;
          object-fit: cover;
        }
      }
      .description {
        margin-top: 2rem;
        text-align: center;
        p {
          margin: 0.5rem 0;
        }
      }
    }
  }
}
