<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class='container'>
            <div class='header'>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Pariatur dolorem expedita impedit
                
            </div>
            <div class='job__detail'>
                <div class='job__detail_main'>
                    <div class="job__detail_main_content">
                        <div class="job__detail_main_content_img">
                            <img src="" alt="">
                        </div>
                        <div class="job__detail_main_content_job_infor">
                            <h3>Senior Automation QC Engineer ( Ha Noi & HCM)</h4>
                            <p>POSITIVE THINKING COMPANY</p>
                            <p>Địa Điểm Làm Việc: Hồ Chí Minh | Hà Nội</p>
                            <p><i class="fa-solid fa-timer"></i>Application
                                deadline: 31/07/2022</p>
                        </div>
                        <div class="job__detail_main_content_job_button">
                            <button type="submit">Apply</button>
                            <button type="submit">Save news</button>
                        </div>
                    </div>
                </div>
                <div class='job__detail_information '>
                    <div class='job__detail_information_special'>
                        <h3>BENEFITS FOR YOU</h3>
                        <ul>
                            <li>In-depth knowledge sharing sessions</li>
                            <li>Flexible in-office and remote work arrangements</li>
                            <li> Great Place to Work-Certified</li>
                        </ul>
                        <h3>JOB DESCRIPTION</h3>
                        <ul>
                            <li>The company has a positive learning culture and
                                runs
                                training programs to provide every employee.</li>
                            <li>In addition, the QC department has many other
                                activities:</li>
                        </ul>
                        <h3>JOB REQUIREMENTS</h3>
                        <ul>
                            <li>Able to read, analyze and understand Functional
                                and
                                Non-functional requirements</li>
                            <li>Able to elicit and interpret requirements and
                                business practices</li>
                            <li>4+ years of hands-on experience in Web and
                                API/BE
                                testing or Mobile and API/BE testing</li>
                        </ul>
                        <h3>WORK LOCATION</h3>
                        <ul>
                            <li>In-depth knowledge sharing sessions</li>
                            <li>Flexible in-office and remote work arrangements</li>
                        </ul>
                    </div>
                    <div class='job__detail_information_extra'>
                        <div class='job__detail_information_extra_job'>
                            <div class="job__detail_date">
                                <span class="content-icon"></span>
                                <span class="content-lable"></span>
                                <span class="content"></span>
                            </div>
                            <div class="job__detail_rank">
                                <span class="content-icon"></span>
                                <span class="content-lable"></span>
                                <span class="content"></span>
                            </div>
                            <div class="job__detail_career">
                                <span class="content-icon"></span>
                                <span class="content-lable"></span>
                                <span class="content"></span>
                            </div>
                            <div class="job__detail_skill">
                                <span class="content-icon"></span>
                                <span class="content-lable"></span>
                                <span class="content"></span>
                            </div>
                            <div class="job__detail_language">
                                <span class="content-icon"></span>
                                <span class="content-lable"></span>
                                <span class="content"></span>
                            </div>
                        </div>
                        <div class='job__detail_information_extra_similar'>
                            <div class="job__detail_header">
                                <span>Similar job</span>
                            </div>
                            <div class="job__detail_cty1">
                                <a href="">
                                    <img src="" alt="">
                                    <span></span>
                                    <span></span>
                                </a>
                                
                            </div>
                            <div class="job__detail_cty2">
                                <a href="">
                                    <img src="" alt="">
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                            <div class="job__detail_cty3">
                                <a href="">
                                    <img src="" alt="">
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                            <div class="job__detail_cty4">
                                <a href="">
                                    <img src="" alt="">
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>